# Core Sphinx and Documentation Tools
Sphinx>=7.0.0
pdoc3

# Sphinx Extensions and Plugins
sphinx-charts
sphinx-confluence
sphinx-lint
sphinx-library
sphinx2doxygen
sphinx-issues
sphinx-tagtoctree
sphinx-vhdl
sphinx-c-autodoc
sphinx-theme
sphinx-refdoc
sphinx-gitref
sphinx-autoschematics
sphinx-pyreverse
sphinx-uml
sphinxcontrib-asyncio
sphinxcontrib-googlemaps
sphinx-kml
sphinxnotes-fasthtml
sphinx-wagtail-theme
sphinx-diagrams
btd.sphinx.graphviz
sphinx-tojupyter
sphinxcontrib-cadquery
epub2sphinx
sphinx-autodoc-defaultargs
sphinx-autodoc-annotation
sphinx-autodoc2-fern
sphinx-collapsible-autodoc
sphinx-autodoc-toml
sphinx-automodapi
pytest-doctestplus
sphinx-copybutton
sphinx-prompt
sphinxemoji
sphinx-favicon
myst-parser
sphinxcontrib-httpdomain
sphinx-autobuild
sphinx-autoapi
nbsphinx
nbsphinx-link
sphinx-jupyter-kernel
sphinx-notfound-page
sphinx-version-warning
sphinx-hoverxref
sphinx-last-updated-by-git
sphinx-git
sphinxext-opengraph
ansible-sphinx
invoke-sphinx
sphinx-analytics
sphinx-apischema
sphinx-autoindex
sphinx-autofixture
sphinx-autopackagesummary
sphinx-advanced
sphinx-changelog

# Popular Sphinx Themes
sphinx-rtd-theme
sphinx-book-theme
pydata-sphinx-theme
furo
piccolo-theme
sphinx-material
sphinx-press-theme
karma-sphinx-theme
sphinxawesome-theme
sphinx-immaterial

# Markdown Support
markdown
enumerate-markdown
flake8-markdown
markdown-it-py

# Graphviz and Diagram Tools
pyan3
graphviz
pydot
gprof2dot
graphviz2drawio
python-markdown-graphviz
fsmdot
quickdiagrams
dtreeplt
pyprojectviz

# Additional utilities
requests
beautifulsoup4
lxml
jinja2
docutils
